@inherits RazorSlice<Contact>

<div id="demo">
    <p>First Name: <span id="display-first-name">@Model.FirstName</span></p>
    <p>Last Name: <span id="display-last-name">@Model.LastName</span></p>
    <p>Email: <span id="display-email">@Model.Email</span></p>
    <div role="group">
        <button
            class="button info"
            data-indicator:_fetching
            data-attr:disabled="$_fetching"
            data-on:click="@@get('/api/clicktoedit/form')"
        >
            Edit
        </button>
        <button
            class="button warning"
            data-indicator:_fetching
            data-attr:disabled="$_fetching"
            data-on:click="@@patch('/api/clicktoedit/reset')"
        >
            Reset
        </button>
    </div>
</div>
